@{
    ViewData["Title"] = "Home Page";
}

<div class="introduction">
    <div class="introduction-content">
        <h1>E-commerce</h1>
        @*<div class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, velit similique.</div>*@
        <a href="/user/login" class="btn">read more</a>
    </div>
</div>
